<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
    <title>Account Home</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <style> #link { color: brown;}
            #tip { color: brown;}
            #bottomlinks {color:brown;}
            h1 {color: Brown;
                text-decoration: underline; 
            }
                 body {
    text-align: center;
    background-color: #97c04f;
    color: #423136;
     
    }
    </style>
</head>
<body>
<h1>Please Sign Up Below</h1>

<form action='/signup' method="POST">
<input type="text" name="name" placeholder="Your Name">
<input type="text" name="email" placeholder="Your Email">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<input type="submit" id="submit" value="Sign Up">
</form>
</body></html>



