<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
    <title>Account Home</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <style> #link { color: brown;}
            #tip { color: brown;}
            #bottomlinks {color:brown;}
            h1 {color: Brown;
                text-decoration: underline; 
            }
                 body {
    text-align: center;
    background-color: #97c04f;
    color: #423136;
     
    }
    </style>
</head>
<body>
<h1>All fields must be filled out to Edit Log</h1>

<%if logged_in?%><h4><a href= "/logs/<%=@log.id%>/edit">Try Again</a></h4><%end%>
<h5><a href='/account'>Your Profile Home</a></h5>
</body></html>
