<h1>Still thinking about this</h1>



<form action="/plant/logs" method="POST">
<select name= "user_plant" id="user_plant">

<%if current_user.plants
current_user.plants.each do|plant|%>


<option value="<%=plant.id%>"><%=plant.nickname%></option>
<%end%><%end%>
</select>

<select name="condition_update" id="condition_update" placeholder="Current Condition">
<%@conditions.each do |state|%>
<option value="<%=state%>"><%=state%></option>
<%end%>
</select>

<input type='textarea' name="content" placeholder="Document any care changes & result(s)">
<input type="text" name="watered_date" placeholder="Last Watering Date">
<input type="submit" value="Submit Log">
</form>


