<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
    <title>Account Home</title>
    <style> #link { color: brown;}
            #tip { color: brown;}
            #bottomlinks {color:brown;}
            h1 {color: Brown;
                text-decoration: underline;}
            body {
    text-align: center;
    background-color: #97c04f;
    color: #423136;
     
    }
         body {
    text-align: center;
    background-color: #97c04f;
    color: #423136;
     
    }
            
            
    </style>    
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">

</head>
<body>
<h1>Let's Log That</h1>

<%if @user.plants==[]%>
<h2>Looks like you need to <a href="/plant/new">create a plant</a> first</h2>
<%else%>



<form action="/plant/logs" method="POST">

<select name= "user_plant" id="user_plant">

<%current_user.plants.each do|plant|%>

<option value="<%=plant.id%>"><%=plant.nickname%></option>
  <%end%>

</select>

  <select name="condition_update" id="condition_update" placeholder="Current Condition">
<%@conditions.each do |state|%>
<option value="<%=state%>"><%=state%></option>
<%end%>
</select>

<input type='textarea' name="content" placeholder="Document any care changes & result(s)">
<input type="text" name="watered_date" placeholder="Last Watering Date">
<input type="submit" value="Submit Log">

</form>


<%end%>
</body></html>