<h1>Let's hear about your new plant!</h1>

<h4>P.S. Each Plant Must Have a Nickname</h4>
<form action="/plants" method="POST">
<input type="text" name="common_name" placeholder="Plant Common-Name">
<input type="text" name="nickname" placeholder="Nickname">
<input type="text" name="plant_type" placeholder="Plant Family/Type">
<input type="submit" value="Create Plant">

</form>