<h1>Please Sign Up Below</h1>

<form action='/signup' method="POST">
<input type="text" name="name" placeholder="Your Name">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<input type="submit" id="submit" value="submit">
</form>




