<h1>Share Some Green Thumb Pointers!</h1>

<form method="POST" action='/tips'>
<input type="text" name="plant_type" placeholder="Type of Plant"/><br>
<textarea type="text" name="content" placeholder="Write Your Tip" ></textarea><br>
<input type="submit" value="Submit Tip">
</form>
