<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
    <title>Account Home</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <style> #link { color: brown;}
            #tip { color: brown;}
            #bottomlinks {color:brown;}
            h1 {color: Brown;
                text-decoration: underline; 
            }
                 body {
    text-align: center;
    background-color: #97c04f;
    color: #423136;
     
    }
    </style>
</head>
<body>
<%if flash[:tip_edit_fail]%><h1><%=flash[:tip_edit_fail]%></h1><%end%><br>
<h1>Let's edit that tip</h1>
<form method="POST" action='/tips/<%=@tip.id%>'>
<input type="hidden" name="_method" value="patch">
<input type="text" name="tip[plant_type]" placeholder="Type of Plant" value="<%=@tip.plant_type%>"/><br>
<textarea type="text" name="tip[content]" placeholder="Write Your Tip" value="<%=@tip.content%>" ></textarea><br>
<input type="submit" value="Edit Tip">

<br><br>
<%if logged_in?%><h4><a href= "/account">Back to Account</a></h4><%end%>

</form></body></html>