<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
    <title>Account Home</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <style> #link { color: brown;}
            #tip { color: brown;}
            #bottomlinks {color:brown;}
            h1 {color: Brown;
                text-decoration: underline; 
            }
                 body {
    text-align: center;
    background-color: #97c04f;
    color: #423136;
     
    }
    </style>
</head>
<body>
<%if flash[:new_tip_error]%><h1><%=flash[:new_tip_error]%></h1><%end%><br>
<h1>Share Some Green Thumb Pointers!</h1>

<form method="POST" action='/tips'>
<input type="text" name="plant_type" placeholder="Type of Plant"/><br>
<textarea type="text" name="content" placeholder="Write Your Tip" ></textarea><br>
<input type="submit" value="Submit Tip">

<br><br>
<%if logged_in?%><h4><a href= "/account">Back to Account</a></h4><%end%>

</form></body></html>
